html {
  font-size: 1.3vw;
}
ul,
li {
    list-style: none;
    padding: 0;
}
body {
  background: #475156;
}
.app {
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
}
.title {
color: #fff;
text-transform: uppercase;
}

.work-area {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
#textarea {
    font-family: monospace;
    padding: 1rem;
    width: 36%;
    resize: none;
    outline: none;
    border-radius: 1rem;
    font-size: 1rem;
    background: #f6f6f6;
    color: #000000;
    line-height: 1.4rem;
    transition: 0.3s;
}
#textarea:focus {
    box-shadow: 0 0 1rem 0.1rem #1c292f;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
    background: #ebe2b4;
    color: #000000;
    line-height: 1.4rem;
    width: 18%;
}
.title-description {
    text-transform: uppercase;
    color: #6b5211;
    font-weight: 600;
    letter-spacing: 0.1rem;
}
.description-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.link {
    text-decoration: none;
    color: #000;
}
.link:hover {
    text-decoration: underline;
}
.keyboard {
  display: grid;
  grid-template-rows: 3vw repeat(5, 3.5vw);
  max-width: 64%;
  margin: 0 auto;
  padding: 1rem;
  gap: 0.3rem;
  background: #979797;
  border-radius: 1rem;
}

.row {
  display: flex;
  gap: 0.3rem;
}
.escape-row {
  font-size: 0.6rem;
}
.number-row {
    font-size: 0.8rem;
  }
.key {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 0.3rem;
  background: #2a2a2a;
  height: 100%;
  flex-basis: 0.8rem;
  min-width: 1rem;
  padding: 0 1rem;
  transform: translateY(0px);
  transition: 0.1s;
  box-shadow: 0 0.2rem 0 0 rgb(107 107 107 / 70%);
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
}

.key:hover {
  background: #3e3f3f;
}

.key:active,
.touch {
  background: #2b4548;
  transform: translateY(0.2rem);
  box-shadow: 0 0 0 0 rgb(107 107 107 / 70%), inset 0px 0px 0.5rem 0.1rem #2b3d3f;
}

.key-no-size {
  flex-grow: 1;
}
.key-space {
    flex-grow: 7;
}
.key-tab {
    flex-grow: 1.5;
}
.key-left {
    align-items: flex-start;
}
.key-right {
    align-items: flex-end;
}

.arrows-vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  flex-basis: 0.8rem;
  gap: 0.2rem;
  font-size: 0.8rem;
}
.arrows-vertical {
  flex-basis: auto;
  padding: 0 100%;
  width: 100%;
}
