html {
  font-size: 1.3vw;
}

body {
  background: #475156;
}

.keyboard {
  display: grid;
  grid-template-rows: 3vw repeat(5, 3.5vw);
  max-width: 63%;
  margin: 0 auto;
  padding: 30px;
  gap: 0.3rem;
  background: #979797;
  border-radius: 1rem;
}

.row {
  display: flex;
  gap: 0.3rem;
}
.escape-row {
  font-size: 0.6rem;
}
.number-row {
    font-size: 0.8rem;
  }
.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  background: #2a2a2a;
  height: 100%;
  flex-basis: 0.8rem;
  min-width: 1rem;
  padding: 0 1rem;
  transform: translateY(0px);
  transition: 0.3s;
  box-shadow: 0 4px 0 0 rgb(107 107 107 / 70%);
  color: #fff;
  cursor: pointer;
}

.key:hover {
  background: #3e3f3f;
}

.key:active,
.touch {
  background: #2b4548;
  transform: translateY(4px);
  box-shadow: 0 0 0 0 rgb(107 107 107 / 70%), inset 0px 0px 9px 2px #2b3d3f;
}

.key-no-size {
  flex-grow: 1;
}
.key-space {
    flex-grow: 7;
}
.key-tab {
    flex-grow: 1.5;
}
.key-left {
    justify-content: flex-start
}
.key-right {
    justify-content: flex-end
}

.arrows-vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  flex-basis: 0.8rem;
  gap: 6px;
  font-size: 0.8rem;
}
.arrows-vertical {
  flex-basis: auto;
  padding: 0 100%;
  width: 100%;
}
